/* Para desaparecer un codigo que no esta, tengo que hacer lo que hizo este tipo https://www.youtube.com/watch?v=pCA4qpQDZD8 a partir de la hora creo */
@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); /* font-family: 'Hurricane', cursive;
font-family: 'Roboto', sans-serif; */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* ----------------------------------------------------------------------------------------------------------------------- */
/*Codigo General*/
body {
  margin: 60px 0 0 0;
}

button {
  all: unset;
  cursor: pointer;
}

button:focus {
  outline: orange 5px auto;
}

div#root {
  background-color: #fff;
  background-size: cover;
  margin: 0;
  justify-content: space-around;
}

h1 {
  font-size: 15px;
  margin: 1px;
}

h2 {
  margin: 1px;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

/* ----------------------------------------------------------------------------------------------------------------------- */
/* Barra de Navegacion*/
header.banner {
  top: 0;
  width: 100%;
  position: absolute;
  margin-bottom: 1px;
}

div.navBar {
  display: grid;
  height: fit-content;
  justify-content: space-evenly;
  text-align: start;
  padding: 5px;
  grid-template-areas: 'home combat creation list';
  background-color: #212529;
  font-size: 25px;
}

h2.Home {
  grid-area: home;
}

h2.combatManager {
  grid-area: combat;
}

h2.unitCreation {
  grid-area: creation;
}

h2.unitList {
  grid-area: list;
}

/* Codigo General de Ficha*/
/* Botones */
button.frm {
  display: block;
  width: fit-content;
  height: fit-content;
  line-height: 40px;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 700;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  align-self: baseline;
  align-items: baseline;
  padding-left: 5px;
  padding-right: 5px;
  transition: all .35s;
  margin: 5px;
}

span{
  position: relative;
  z-index: 2;
}

button.frm:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: grey;
  transition: all .35s;
}

button.frm:hover{
  color: #fff;
}

button.frm:hover:after{
  width: 100%;
}

button.collapsible {
  display: flex;
}

/* Input */
input[type=number] {
  width: 33px;
  margin-left: 2px;
  margin-right: 5px;
}


/* ----------------------------------------------------------------------------------------------------------------------- */
/* Unit Container */
div.unitContainer {
  display: grid;
  size: fit-content;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:  'title  title'
                        'creator setter';
}

/* ----------------------------------------------------------------------------------------------------------------------- */
/* Titulo */
label.creatingUnit {
  display: flex-start;
  font-size: 30px;
  font-weight: 700;
  font-family: Roboto;
  grid-area: title;
  font-style: italic;
  margin-bottom: 10px;
  margin-left: 50px;
}

/* ----------------------------------------------------------------------------------------------------------------------- */
/* Unit Builder */
div.unitBuilder {
  grid-area: creator;
  display: grid;
  margin-left: 5px;
  row-gap: 5px;
  justify-content: space-between;
  grid-template-areas: 'finalcommit'
                       'stars'
                       'dataT'
                       'dataextra'
                       'characteristicT'
                       'characteristic'
                       'combatT'
                       'combat'
                       'statsT'
                       'stats'
                       'abilitiesT'
                       'abilities'
                       'powersT'
                       'powers'
}

/* Randomizar o Terminar */
div.finalSubmit {
  grid-area: finalcommit;
  display: flex;
}

form.finalSubmit {
  display: flex;
  justify-content: center;
}

/* ----------------------------------------------------------------------------------------------------------------------- */
/* Estrellas */
div.unitStars {
  display:flex;
  flex-direction:column;
}

form.stars {
  display: flex;
  justify-content: center;
  align-self: center;
  grid-area: stars;
}

div.unitStars form {
  display:flex;
  align-self:center;
  flex-direction:row-reverse;
}

input.star {
  display: none;
}

label.star {
  display:inline-block;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}
input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}
input.star-6:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}
input.star-1:checked ~ label.star:before {
  color: #F62;
}
label.star:hover {
  transform: rotate(-15deg) scale(1.3); 
}
label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

/* ----------------------------------------------------------------------------------------------------------------------- */
/* SSS */
form.special {
  justify-content: center;
  text-align: center;
  align-items: center;
  align-self: center;
}

button.basic {
  width: 100px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  align-self: center;
  padding-bottom: 5px;
  font-size: 50px;
  margin-bottom: 5px;
}

button.basic:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

button.basic:active {
  color: #000
}

button.basic:active:after {
  background: transparent;
}

button.basic:hover:before {
  opacity: 1;
}

button.basic:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

button.special {
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  align-self: center;
  padding-bottom: 5px;
  width: 100px;
  height: 50px;
  font-size: 50px;
  margin-bottom: 5px;
}

/* ----------------------------------------------------------------------------------------------------------------------- */
/* Datos de Unidad */
/* Data Extra */
div.dataExtra {
  margin-top: 10px;
}

form.dataExtra {
  display: grid;
  position: relative;
  grid-area: dataextra;
  grid-template-areas: 'nameD nameD nameD'
                       'lvlD  typeD sizeD'
                       'inmnuneD  weakD resistD'
                       'conditD conditD perceptionD'
                       'behaiD  behaiD  behaiD'
                       'desciptD  desciptD  desciptD'
                       'blank  submitD randomD'
}

div.dataExtra input {
  width: 85%;
}

/* Datos Titulo */
div.dataTitle {
  grid-area: titleD;
  display: grid;
  grid-template-columns: 5fr 0.1fr;
  grid-template-areas: 'titleDE  showDE';
}

div.dataTitle h1 {
  grid-area: titleDE;
  font-size: 20px;
  font-weight: bolder;
  font-family: Roboto;
}

/* Esconder Data */
div.contentD button.collapsible {
  grid-area: showDE;
  background-color: #777;
  width: 15px;
  border: unset;
  cursor: pointer;
  font:unset;
  padding: 0.3rem;
  border-radius: 5px;
  color: white;
  margin-bottom: 0.5rem;
}

div.contentD {
  border: 1px solid grey;
  padding: 0.5rem;
  border-radius: 5px;
  height: 30px;
  width: 550px;
  overflow: hidden;
  transition: height ease 0.9s;
}

div.contentD.show {
  width: fit-content;
  height: 720px;
  width: 550px;
  transition: height ease 0.9s;
}

/* Botones de Datos de Unidad */
button.dataButtonF {
  grid-area: submitD;
}

button.dataButtonR {
  grid-area: randomD;
}

/* Nombre */
div.nameStart {
  grid-area: nameD;
}

div.nameStart input {
  width: 95%;
}

/* Nivel */
div.levelTotal {
  display: flex;
  justify-content: center;
  grid-area: lvlD;
  margin: auto;
}

div.levelTotal h2 {
  margin-right: 5px;
  text-align: start;
}

select.level {
  justify-content: center;
  align-self: center;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

/* Tipo */
div.typeStart {
  grid-area: typeD;
}

/* Tamaño */
div.sizeStart {
  grid-area: sizeD;
}

/* Inmunidad */
div.immuStart {
  grid-area: inmnuneD;
}

/* Debilidad */
div.weakStart {
  grid-area: weakD;
}

/* Resistencia */
div.resiStart {
  grid-area: resistD;
}

/* Inmunidad a Condición */
div.immuCondi {
  grid-area: conditD;
}

div.immuCondi input {
  grid-area: conditD;
  width: 92.5%;
}

/* Percepción Bonus */
div.percStart {
  grid-area: perceptionD;
}

div.percStart input {
  grid-area: perceptionD;
  width: 40px;
}

/* Comportamiento */
div.behaStart {
  grid-area: behaiD;
}

div.behaStart textarea {
  width: 95%;
}

/* Descripción */
div.descStart {
  grid-area: desciptD;
}

div.descStart textarea {
  width: 95%;
}

/* ----------------------------------------------------------------------------------------------------------------------- */
/* Characteristic */
div.Characteristic {
  display: flex;
  grid-area: characteristic;
  margin-top: 10px;
}

form.charForm {
  display: grid;
  grid-template-areas: 'name  name  uses'
                       'effect  effect  effect'
                       'blank submitC randomC';
}

/* Titulo de Seccion Caracteristica */
div.dataCar {
  grid-area: characteristicT;
  display: grid;
  grid-template-columns: 5fr 0.1fr;
  grid-template-areas: 'titleCA  showCA';
}

div.dataCar h1 {
  grid-area: titleCA;
  font-size: 20px;
  font-weight: bolder;
  font-family: Roboto;
}

/* Esconder Data */
div.contentCa button.collapsible {
  grid-area: showCA;
  background-color: #777;
  width: 15px;
  border: unset;
  cursor: pointer;
  font:unset;
  padding: 0.3rem;
  border-radius: 5px;
  color: white;
  margin-bottom: 0.5rem;
}

div.contentCa {
  border: 1px solid grey;
  padding: 0.5rem;
  border-radius: 5px;
  height: 30px;
  width: 550px;
  overflow: hidden;
  transition: height ease 0.9s;
}

div.contentCa.show {
  width: fit-content;
  height: 200px;
  width: 550px;
  transition: height ease 0.9s;
}

/* Botones de Caracteristica */
button.charAddButton {
  grid-area: submitC;
}

button.charRandButton {
  grid-area: randomC;
}

/* Nombre Caracteristica */
div.nameChar {
  grid-area: name;
}

/* Uso de Caracteristica */
div.useChar {
  grid-area: uses;
}

/* Efecto de Caracteristica */
div.effectChar {
  grid-area: effect;
}

/* ----------------------------------------------------------------------------------------------------------------------- */
/* Combate */
div.Combat {
  grid-area: combat;
  margin-top: 10px;
  display: grid;
  grid-template-areas: 'iniTC  iniKC  iniBC'
                       'evaC armC resC'
                       'lifeC moveC null'
                       'accTC accKC accBC'
                       'dmgTC  dmgKC  dmgBC'
                       'blank  blank submitCo';
}

/* Titulo de Seccion Combate */
div.dataCombat {
  grid-area: 'combatT';
  display: grid;
  grid-template-columns: 5fr 0.1fr;
  grid-template-areas: 'titleCO  showCO';
}

div.dataCombat h1 {
  grid-area: titleCO;
  font-size: 20px;
  font-weight: bolder;
  font-family: Roboto;
}

/* Esconder Data */
div.contentCo button.collapsible {
  grid-area: showCO;
  background-color: #777;
  width: 15px;
  border: unset;
  cursor: pointer;
  font:unset;
  padding: 0.3rem;
  border-radius: 5px;
  color: white;
  margin-bottom: 0.5rem;
}

div.contentCo {
  border: 1px solid grey;
  padding: 0.5rem;
  border-radius: 5px;
  height: 30px;
  width: 550px;
  overflow: hidden;
  transition: height ease 0.9s;
}

div.contentCo.show {
  width: fit-content;
  height: 200px;
  width: 550px;
  transition: height ease 0.9s;
}

/* Submit Combate */
div.combatClick {
  grid-area: submitCo;
}

/* Iniciativa Combate */
div.iniTC {
  grid-area: iniTC;
}

div.iniKC {
  grid-area: iniKC;
}

div.iniEC {
  grid-area: iniBC;
}

/* Defensas Combate */
div.evasion {
  grid-area: evaC;
}

div.armor {
  grid-area: armC;
}

div.resist {
  grid-area: resC;
}

/* Extras Combate */
div.life {
  grid-area: lifeC;
}

div.movement {
  grid-area: moveC;
}

/* Presición Combate */
div.accTC {
  grid-area: accTC;
}

div.accKC {
  grid-area: accKC;
}

div.accEC {
  grid-area: accBC;
}

/* Daño Combate */
div.dmgTC {
  grid-area: dmgTC;
}

div.dmgKC {
  grid-area: dmgKC;
}

div.dmgEC {
  grid-area: dmgBC;
}


/* ----------------------------------------------------------------------------------------------------------------------- */
/* Estadisticas */
div.unitStats {
  grid-area: stats;
  margin-top: 10px;
}

form.Stats {
  display: grid;
  grid-template-areas: 'body  body  mind  mind'
                       'blank blank submitS submitR';
}

/* Titulo de Seccion Estadisticas */
div.dataStats {
  grid-area: 'statsT';
  display: grid;
  grid-template-columns: 5fr 0.1fr;
  grid-template-areas: 'titleS  showS';
}

div.dataStats h1 {
  grid-area: titleS;
  font-size: 20px;
  font-weight: bolder;
  font-family: Roboto;
}

/* Esconder Data */
div.contentS button.collapsible {
  grid-area: showS;
  background-color: #777;
  width: 15px;
  border: unset;
  cursor: pointer;
  font:unset;
  padding: 0.3rem;
  border-radius: 5px;
  color: white;
  margin-bottom: 0.5rem;
}

div.contentS {
  border: 1px solid grey;
  padding: 0.5rem;
  border-radius: 5px;
  height: 30px;
  width: 550px;
  overflow: hidden;
  transition: height ease 0.9s;
}

div.contentS.show {
  width: fit-content;
  height: 280px;
  width: 550px;
  transition: height ease 0.9s;
}

/* Botones de Estadisticas de Unidad */
button.statButtonF {
  grid-area: submitS;
}

button.statButtonR {
  grid-area: submitR;
}

/* Cuerpo */
div.Body {
  grid-area: body;
}

/* Mente */
div.Mind {
  grid-area: mind;
}

/* ----------------------------------------------------------------------------------------------------------------------- */
/* Habilidades */
div.unitAbilities { 
  grid-area: abilities;
  margin-top: 10px;
}

form.Abilities {
  display: grid;
  grid-template-areas: 'abilitiesK abilitiesF abilitiesS'
                       'blank submitA randomA'
}

div.unitAbilities label {
  font-size: 18px;
}

/* Titulo de Seccion Habilidades */
div.dataAbilities {
  grid-area: 'abilitiesT';
  display: grid;
  grid-template-columns: 5fr 0.1fr;
  grid-template-areas: 'titleA  showA';
}

div.dataAbilities h1 {
  grid-area: titleA;
  font-size: 20px;
  font-weight: bolder;
  font-family: Roboto;
}

/* Esconder Data */
div.contentA button.collapsible {
  grid-area: showA;
  background-color: #777;
  width: 15px;
  border: unset;
  cursor: pointer;
  font:unset;
  padding: 0.3rem;
  border-radius: 5px;
  color: white;
  margin-bottom: 0.5rem;
}

div.contentA {
  border: 1px solid grey;
  padding: 0.5rem;
  border-radius: 5px;
  height: 30px;
  width: 550px;
  overflow: hidden;
  transition: height ease 0.9s;
}

div.contentA.show {
  width: fit-content;
  height: 450px;
  width: 550px;
  transition: height ease 0.9s;
}

/* Botones de Habilidades de Unidad */
button.abilitiesButtonS {
  grid-area: submitA;
}

button.abilitiesButtonR {
  grid-area: randomA;
}

/* Conocimientos */
div.Knowledge {
  grid-area: abilitiesK;
}

/* Proezas */
div.Feats {
  grid-area: abilitiesF;
}

/* Sociales */
div.Socials {
  grid-area: abilitiesS;
}

/* ----------------------------------------------------------------------------------------------------------------------- */
/* Powers */
div.Powers {
  display: flex;
  grid-area: powers;
  margin-top: 10px;
}

form.powerForm {
  display: grid;
  grid-template-areas: 'nameP  nameP  elementP'
                       'usesP usesP usesP'
                       'distP targeP  duratP'
                       'dmgP  dmgadP  dmgadP'
                       'healP  healadP  healadP'
                       'efct1P  efct2P  efct3P'
                       'blank  submitP randomP'
}

/* Titulo de Seccion de Poderes */
div.dataPowers {
  grid-area: 'powersT';
  display: grid;
  grid-template-columns: 5fr 0.1fr;
  grid-template-areas: 'titleP  showP';
}

div.dataPowers h1 {
  grid-area: titleP;
  font-size: 20px;
  font-weight: bolder;
  font-family: Roboto;
}

/* Esconder Data */
div.contentP button.collapsible {
  grid-area: showP;
  background-color: #777;
  width: 15px;
  border: unset;
  cursor: pointer;
  font:unset;
  padding: 0.3rem;
  border-radius: 5px;
  color: white;
  margin-bottom: 0.5rem;
}

div.contentP {
  border: 1px solid grey;
  padding: 0.5rem;
  border-radius: 5px;
  height: 30px;
  width: 550px;
  overflow: hidden;
  transition: height ease 0.9s;
}

div.contentP.show {
  width: fit-content;
  height: 320px;
  width: 550px;
  transition: height ease 0.9s;
}

/* Botones de Poderes de Unidad */
button.powerAddButton {
  grid-area: submitP;
}

button.powerRandButton {
  grid-area: randomP;
}

/* Nombre y Elemento */
div.namePower {
  grid-area: nameP;
}

div.typePower {
  grid-area: elementP;
}

/* Usos */
div.usePower {
  grid-area: usesP;
}

/* Distanca, Objetivos, Duración */
div.distancePower {
  grid-area: distP;
}

div.targetPower {
  grid-area: targeP;
}

div.durationPower {
  grid-area: duratP;
}

/* Daño Poder */
div.dmgPower {
  grid-area: dmgP;
}

div.dmgExtraPower {
  grid-area: dmgadP;
}

/* Curación Poder */
div.healPower {
  grid-area: healP;
}

div.healExtraPower {
  grid-area: healadP;
}

/* Efectos Poder */
div.effectAPower {
  grid-area: efct1P;
}

div.effectBPower {
  grid-area: efct2P;
}

div.effectCPower {
  grid-area: efct3P;
}

/* ----------------------------------------------------------------------------------------------------------------------- */
/* Ficha Final */
div.finalSheet{
  grid-area: setter;
}