/* Para desaparecer un codigo que no esta, tengo que hacer lo que hizo este tipo https://www.youtube.com/watch?v=pCA4qpQDZD8 a partir de la hora creo */
@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); /* font-family: 'Hurricane', cursive;
font-family: 'Roboto', sans-serif; */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* ----------------------------------------------------------------------------------------------------------------------- */
/*Codigo General*/
body {
  margin: 60px 0 0 0;
  background-color: #a6a7a9;
}

button {
  all: unset;
  cursor: pointer;
}

button:focus {
  outline: orange 5px auto;
}

div#root {
  background-color: #fff;
  background-size: cover;
  margin: 0;
  justify-content: space-around;
}

h1 {
  font-size: 15px;
  margin: 1px;
}

h2 {
  margin: 1px;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

ul {
  padding: 0;
}

/* ----------------------------------------------------------------------------------------------------------------------- */
/* Barra de Navegacion*/
header.banner {
  top: 0;
  width: 100%;
  position: absolute;
  margin-bottom: 1px;
}

div.navBar {
  display: grid;
  height: fit-content;
  justify-content: space-evenly;
  text-align: start;
  padding: 5px;
  grid-template-areas: 'home combat creation list';
  background-color: #212529;
  font-size: 25px;
}

h2.Home {
  grid-area: home;
}

h2.combatManager {
  grid-area: combat;
}

h2.unitCreation {
  grid-area: creation;
}

h2.unitList {
  grid-area: list;
}

/* Codigo General de Ficha*/
/* Botones */
button.frm {
  display: block;
  width: fit-content;
  height: fit-content;
  line-height: 40px;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 700;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  align-self: baseline;
  align-items: baseline;
  padding-left: 5px;
  padding-right: 5px;
  transition: all .35s;
  margin: 5px;
}

span{
  position: relative;
  z-index: 2;
}

button.frm:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: grey;
  transition: all .35s;
}

button.frm:hover{
  color: #fff;
}

button.frm:hover:after{
  width: 100%;
}

button.collapsible {
  display: flex;
}

/* Input */
input[type=number] {
  width: 33px;
  margin-left: 2px;
  margin-right: 5px;
}


/* ----------------------------------------------------------------------------------------------------------------------- */
/* Unit Container */
div.unitContainer {
  display: grid;
  background-color: #a6a7a9;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 9fr;
  grid-template-areas:  'title  title'
                        'creator setter';
}

/* ----------------------------------------------------------------------------------------------------------------------- */
/* Titulo */
label.creatingUnit {
  display: flex;
  font-size: 35px;
  font-weight: 700;
  font-family: Roboto;
  grid-area: title;
  font-style: italic;
  margin-left: 10px;
}

/* ----------------------------------------------------------------------------------------------------------------------- */
/* Unit Builder */
div.unitBuilder {
  grid-area: creator;
  display: grid;
  row-gap: 5px;
  margin: 10px;
  padding: 4px;
  float: right;
  width: fit-content;
  border: 4px solid #373a3e;
  justify-content: space-between;
  grid-template-areas: 'finalcommit'
                       'stars'
                       'dataT'
                       'dataextra'
                       'characteristicT'
                       'characteristic'
                       'combatT'
                       'combat'
                       'statsT'
                       'stats'
                       'abilitiesT'
                       'abilities'
                       'powersT'
                       'powers'
                       'specialT'
                       'special'
}

/* Randomizar o Terminar */
div.finalSubmit {
  grid-area: finalcommit;
  display: flex;
}

form.finalSubmit {
  display: flex;
  justify-content: center;
}

/* ----------------------------------------------------------------------------------------------------------------------- */
/* Estrellas */
div.unitStars {
  display:flex;
  flex-direction:column;
}

form.stars {
  display: flex;
  justify-content: center;
  align-self: center;
  grid-area: stars;
}

div.unitStars form {
  display:flex;
  align-self:center;
  flex-direction:row-reverse;
}

input.star {
  display: none;
}

label.star {
  display:inline-block;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}
input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}
input.star-6:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}
input.star-1:checked ~ label.star:before {
  color: #F62;
}
label.star:hover {
  transform: rotate(-15deg) scale(1.3); 
}
label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

/* ----------------------------------------------------------------------------------------------------------------------- */
/* SSS */
form.special {
  justify-content: center;
  text-align: center;
  align-items: center;
  align-self: center;
}

button.basic {
  width: 100px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  align-self: center;
  padding-bottom: 5px;
  font-size: 50px;
  margin-bottom: 5px;
}

button.basic:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

button.basic:active {
  color: #000
}

button.basic:active:after {
  background: transparent;
}

button.basic:hover:before {
  opacity: 1;
}

button.basic:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

button.special {
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  align-self: center;
  padding-bottom: 5px;
  width: 100px;
  height: 50px;
  font-size: 50px;
  margin-bottom: 5px;
}

/* ----------------------------------------------------------------------------------------------------------------------- */
/* Datos de Unidad */
/* Data Extra */
div.dataExtra {
  margin: auto;
}

form.dataExtra {
  display: grid;
  grid-area: dataextra;
  column-gap: 15px;
  grid-template-areas: 'nameD nameD nameD'
                       'lvlD  typeD sizeD'
                       'inmnuneD  weakD resistD'
                       'conditD conditD perceptionD'
                       'behaiD  behaiD  behaiD'
                       'desciptD  desciptD  desciptD'
                       'blank  submitD randomD'
}

div.dataExtra input {
  width: 85%;
}

/* Datos Titulo */
div.dataTitle {
  grid-area: titleD;
  display: grid;
  grid-template-columns: 5fr 0.1fr;
  grid-template-areas: 'titleDE  showDE';
}

div.dataTitle h1 {
  grid-area: titleDE;
  font-size: 20px;
  font-weight: bolder;
  font-family: Roboto;
}

/* Esconder Data */
div.contentD button.collapsible {
  grid-area: showDE;
  background-color: #777;
  width: 15px;
  border: unset;
  cursor: pointer;
  font:unset;
  padding: 0.3rem;
  border-radius: 5px;
  color: white;
  margin-bottom: 0.5rem;
}

div.contentD {
  border: 1px solid grey;
  padding: 0.5rem;
  border-radius: 5px;
  height: 30px;
  width: 490px;
  overflow: hidden;
  transition: height ease 0.9s;
}

div.contentD.show {
  width: fit-content;
  height: 710px;
  width: 490px;
  transition: height ease 0.9s;
}

/* Botones de Datos de Unidad */
div.buttondata {
  grid-area: randomD;
  display: flex;
  margin-left: -13%;
}

/* Nombre */
div.nameStart {
  grid-area: nameD;
}

/* Nivel */
div.levelTotal {
  display: flex;
  justify-content: center;
  grid-area: lvlD;
  margin: auto;
}

div.levelTotal h2 {
  margin-right: 5px;
  text-align: start;
}

select.level {
  justify-content: center;
  align-self: center;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

/* Especie */
div.typeStart {
  grid-area: typeD;
}

/* Tamaño */
div.sizeStart {
  grid-area: sizeD;
}

/* Inmunidad */
div.immuStart {
  grid-area: inmnuneD;
}

/* Debilidad */
div.weakStart {
  grid-area: weakD;
}

/* Resistencia */
div.resiStart {
  grid-area: resistD;
  width: 90%;
}

/* Inmunidad a Condición */
div.immuCondi {
  grid-area: conditD;
}

div.immuCondi input {
  grid-area: conditD;
  width: 92.5%;
}

/* Percepción Bonus */
div.percStart {
  grid-area: perceptionD;
}

div.percStart input {
  grid-area: perceptionD;
  width: 40px;
}

/* Comportamiento */
div.behaStart {
  grid-area: behaiD;
}

div.behaStart textarea {
  width: 90%;
}

/* Descripción */
div.descStart {
  grid-area: desciptD;
}

div.descStart textarea {
  width: 90%;
}

/* ----------------------------------------------------------------------------------------------------------------------- */
/* Characteristic */
form.charForm {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 5fr 1fr;
  grid-template-areas: 'name  name  uses'
                       'effect  effect  effect'
                       'blank submitC randomC';
}

/* Titulo de Seccion Caracteristica */
div.dataCar {
  grid-area: characteristicT;
  display: grid;
  grid-template-columns: 5fr 0.1fr;
  grid-template-areas: 'titleCA  showCA';
}

div.dataCar h1 {
  grid-area: titleCA;
  font-size: 20px;
  font-weight: bolder;
  font-family: Roboto;
}

/* Esconder Data */
div.contentCa button.collapsible {
  grid-area: showCA;
  background-color: #777;
  width: 15px;
  border: unset;
  cursor: pointer;
  font:unset;
  padding: 0.3rem;
  border-radius: 5px;
  color: white;
  margin-bottom: 0.5rem;
}

div.contentCa {
  border: 1px solid grey;
  padding: 0.5rem;
  border-radius: 5px;
  height: 30px;
  width: 490px;
  overflow: hidden;
  transition: height ease 0.9s;
}

div.contentCa.show {
  width: fit-content;
  height: 280px;
  width: 490px;
  transition: height ease 0.9s;
}

/* Botones de Caracteristica */
div.buttonchar {
  grid-area: randomC;
  display: flex;
}

/* Nombre Caracteristica */
div.nameChar {
  grid-area: name;
}

div.nameChar input {
  width: 90%;
}

/* Uso de Caracteristica */
div.useChar {
  grid-area: uses;
}

div.useChar input {
  width: 83%;
}

/* Efecto de Caracteristica */
div.effectChar {
  grid-area: effect;
}

div.effectChar textarea {
  width: 95%;
  height: 100px;
}

/* ----------------------------------------------------------------------------------------------------------------------- */
/* Combate */
div.Combat {
  grid-area: combat;
  margin-top: 10px;
  display: grid;
  grid-template-areas: 'iniTC  iniKC  iniBC'
                       'evaC armC resC'
                       'lifeC moveC null'
                       'accTC accKC accBC'
                       'dmgTC  dmgKC  dmgBC'
                       'blank  blank submitCo';
}

/* Titulo de Seccion Combate */
div.dataCombat {
  grid-area: 'combatT';
  display: grid;
  grid-template-columns: 5fr 0.1fr;
  grid-template-areas: 'titleCO  showCO';
}

div.dataCombat h1 {
  grid-area: titleCO;
  font-size: 20px;
  font-weight: bolder;
  font-family: Roboto;
}

/* Esconder Data */
div.contentCo button.collapsible {
  grid-area: showCO;
  background-color: #777;
  width: 15px;
  border: unset;
  cursor: pointer;
  font:unset;
  padding: 0.3rem;
  border-radius: 5px;
  color: white;
  margin-bottom: 0.5rem;
}

div.contentCo {
  border: 1px solid grey;
  padding: 0.5rem;
  border-radius: 5px;
  height: 30px;
  width: 490px;
  overflow: hidden;
  transition: height ease 0.9s;
}

div.contentCo.show {
  width: fit-content;
  height: 203px;
  width: 490px;
  transition: height ease 0.9s;
}

/* Submit Combate */
div.combatClick {
  grid-area: submitCo;
}

/* Formato para Texto y Numeros de Combate */
div.Combat label {
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  text-decoration: underline 1.5px gray;
}

div.Combat input {
  float: right;
}


/* Iniciativa Combate */
div.iniTC {
  grid-area: iniTC;
}

div.iniKC {
  grid-area: iniKC;
}

div.iniEC {
  grid-area: iniBC;
}

/* Defensas Combate */
div.evasion {
  grid-area: evaC;
}

div.armor {
  grid-area: armC;
}

div.resist {
  grid-area: resC;
}

/* Extras Combate */
div.life {
  grid-area: lifeC;
}

div.movement {
  grid-area: moveC;
}

/* Presición Combate */
div.accTC {
  grid-area: accTC;
}

div.accKC {
  grid-area: accKC;
}

div.accEC {
  grid-area: accBC;
}

/* Daño Combate */
div.dmgTC {
  grid-area: dmgTC;
}

div.dmgKC {
  grid-area: dmgKC;
}

div.dmgEC {
  grid-area: dmgBC;
}


/* ----------------------------------------------------------------------------------------------------------------------- */
/* Estadisticas */
div.unitStats {
  grid-area: stats;
  margin-left: 3%;
  margin-top: 10px;
}

form.Stats {
  display: grid;
  column-gap: 10px;
  grid-template-areas: 'body  body  x x x mind  mind'
                       'blank blank x x x submitS submitR';
}

div.unitStats label {
  font-size: 25px;
  text-decoration: underline 2px gray;
  width: fit-content;
  margin-right: 10px;
}

div.unitStats input {
  font-size: 20px;
}

/* Titulo de Seccion Estadisticas */
div.dataStats {
  grid-area: 'statsT';
  display: grid;
  grid-template-columns: 5fr 0.1fr;
  grid-template-areas: 'titleS  showS';
}

div.dataStats h1 {
  grid-area: titleS;
  font-size: 20px;
  font-weight: bolder;
  font-family: Roboto;
}

/* Esconder Data */
div.contentS button.collapsible {
  grid-area: showS;
  background-color: #777;
  width: 15px;
  border: unset;
  cursor: pointer;
  font:unset;
  padding: 0.3rem;
  border-radius: 5px;
  color: white;
  margin-bottom: 0.5rem;
}

div.contentS {
  border: 1px solid grey;
  padding: 0.5rem;
  border-radius: 5px;
  height: 30px;
  width: 490px;
  overflow: hidden;
  transition: height ease 0.9s;
}

div.contentS.show {
  width: fit-content;
  height: 210px;
  width: 490px;
  transition: height ease 0.9s;
}

/* Botones de Estadisticas de Unidad */
button.statButtonF {
  grid-area: submitS;
}

button.statButtonR {
  grid-area: submitR;
}

/* Cuerpo */
div.Body {
  grid-area: body;
  display: grid;
  row-gap: 10px;
  grid-template-areas: 'str str'
                       'dex dex'
                       'con con';
}

/* Mente */
div.Mind {
  grid-area: mind;
  display: grid;
  row-gap: 10px;
  grid-template-areas: 'int int'
                       'wil wil'
                       'car car';
}

/* ----------------------------------------------------------------------------------------------------------------------- */
/* Habilidades */
div.unitAbilities { 
  grid-area: abilities;
  margin-top: 10px;
}

form.Abilities {
  display: grid;
  grid-template-areas: 'abilitiesK abilitiesF abilitiesS'
                       'blank submitA randomA'
}

div.unitAbilities label {
  font-size: 18px;
}

/*div.unitAbilities input {

}

/* Titulo de Seccion Habilidades */
div.dataAbilities {
  grid-area: 'abilitiesT';
  display: grid;
  grid-template-columns: 5fr 0.1fr;
  grid-template-areas: 'titleA  showA';
}

div.dataAbilities h1 {
  grid-area: titleA;
  font-size: 20px;
  font-weight: bolder;
  font-family: Roboto;
}

/* Esconder Data */
div.contentA button.collapsible {
  grid-area: showA;
  background-color: #777;
  width: 15px;
  border: unset;
  cursor: pointer;
  font:unset;
  padding: 0.3rem;
  border-radius: 5px;
  color: white;
  margin-bottom: 0.5rem;
}

div.contentA {
  border: 1px solid grey;
  padding: 0.5rem;
  border-radius: 5px;
  height: 30px;
  width: 490px;
  overflow: hidden;
  transition: height ease 0.9s;
}

div.contentA.show {
  width: fit-content;
  height: 490px;
  width: 490px;
  transition: height ease 0.9s;
}

/* Botones de Habilidades de Unidad */
button.abilitiesButtonS {
  grid-area: submitA;
}

button.abilitiesButtonR {
  grid-area: randomA;
}

/* Conocimientos */
div.Knowledge {
  grid-area: abilitiesK;
}


/* Proezas */
div.Feats {
  grid-area: abilitiesF;
}

/* Sociales */
div.Socials {
  grid-area: abilitiesS;
}

/* ----------------------------------------------------------------------------------------------------------------------- */
/* Powers */
div.Powers {
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-left: 12px;
}

div.Powers input {
  margin-left: 5px;
}

form.powerForm {
  display: grid;
  grid-area: powers;
  grid-template-areas: 'nameP  nameP  elementP'
                       'usesP usesP usesP'
                       'distP targeP  duratP'
                       'dmgP  dmgadP  dmgadP'
                       'healP  healadP  healadP'
                       'efct1P  efct1P  efct1P'
                       'efct2P  efct2P  efct2P'
                       'efct3P  efct3P  efct3P'
                       'blank  submitP randomP'
}

/* Titulo de Seccion de Poderes */
div.dataPowers {
  grid-area: 'powersT';
  display: grid;
  grid-template-columns: 5fr 0.1fr;
  grid-template-areas: 'titleP  showP';
}

div.dataPowers h1 {
  grid-area: titleP;
  font-size: 20px;
  font-weight: bolder;
  font-family: Roboto;
}

/* Esconder Data */
div.contentP button.collapsible {
  grid-area: showP;
  background-color: #777;
  width: 15px;
  border: unset;
  cursor: pointer;
  font:unset;
  padding: 0.3rem;
  border-radius: 5px;
  color: white;
  margin-bottom: 0.5rem;
}

div.contentP {
  border: 1px solid grey;
  padding: 0.5rem;
  border-radius: 5px;
  height: 30px;
  width: 490px;
  overflow: hidden;
  transition: height ease 0.9s;
}

div.contentP.show {
  width: fit-content;
  height: 610px;
  width: 490px;
  transition: height ease 0.9s;
}

/* Botones de Poderes de Unidad */
div.buttonpower {
  grid-area: randomP;
  display: flex;
}

/* Nombre y Elemento */
div.namePower {
  grid-area: nameP;
}

div.namePower input {
  width: 95%;
}

div.typePower {
  grid-area: elementP;
}

div.typePower input {
  width: 80%;
}

/* Usos */
div.usePower {
  grid-area: usesP;
}

/* Distanca, Objetivos, Duración */
div.distancePower {
  grid-area: distP;
}

div.targetPower {
  grid-area: targeP;
}

div.durationPower {
  grid-area: duratP;
}

/* Daño Poder */
div.dmgPower {
  grid-area: dmgP;
}

div.dmgPower input {
  width: 20%;
}

div.dmgExtraPower {
  grid-area: dmgadP;
}

div.dmgExtraPower input {
  width: 10%;
}

/* Curación Poder */
div.healPower {
  grid-area: healP;
}

div.healPower input {
  width: 20%;
}

div.healExtraPower {
  grid-area: healadP;
}

div.healExtraPower input {
  width: 10%;
}

/* Efectos Poder */
div.effectAPower {
  grid-area: efct1P;
}

div.effectAPower textarea {
  width: 90%;
}

div.effectBPower {
  grid-area: efct2P;
}

div.effectBPower textarea {
  width: 90%;
}

div.effectCPower {
  grid-area: efct3P;
}

div.effectCPower textarea {
  width: 90%;
}


/* ----------------------------------------------------------------------------------------------------------------------- */
/* Especial */
div.specialF {
  grid-area: special;
  display: flex;
  margin: auto;
}

form.specForm {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 8fr 0.1fr 0.1fr;
  grid-template-areas: 'nameSP  nameSP  costSP'
                       'requiSP requiSP requiSP'
                       'effectSP  effectSP  effectSP'
                       'blank  submitSP randomSP';
}


/* Titulo de Sección Especial */
div.specialTitle {
  grid-area: specialT;
  display: grid;
  grid-template-columns: 5fr 0.1fr;
  grid-template-areas: 'titleSP  showSP';
}

div.specialTitle h1 {
  grid-area: titleSP;
  font-size: 20px;
  font-weight: bolder;
  font-family: Roboto;
}

/* Esconder Data */
div.contentSpe button.collapsible {
  grid-area: showSP;
  background-color: #777;
  width: 15px;
  border: unset;
  cursor: pointer;
  font:unset;
  padding: 0.3rem;
  border-radius: 5px;
  color: white;
  margin-bottom: 0.5rem;
}

div.contentSpe {
  border: 1px solid grey;
  padding: 0.5rem;
  border-radius: 5px;
  height: 30px;
  width: 490px;
  overflow: hidden;
  transition: height ease 0.9s;
}

div.contentSpe.show {
  width: fit-content;
  height: 280px;
  width: 490px;
  transition: height ease 0.9s;
}

/* Nombre de Especialidad */
div.nameSpec {
  grid-area: nameSP;
}

div.nameSpec input {
  width: 95%;
}

/* Coste de Especialidad */
div.costSpec {
  grid-area: costSP;
}

div.costSpec input {
  width: 25%;
}

/* Requisito de Especialidad */
div.requiereSpec {
  grid-area: requiSP;
}

div.requiereSpec input {
  width: 91%;
}

/* Efecto de Especialidad */
div.effectSpec {
  grid-area: effectSP;
}

div.effectSpec textarea {
  width: 91%;
}

/* Botones de Especialidad de Unidad */
button.SpecAddButton {
  grid-area: submitSP;
}

button.SpecRandButton {
  grid-area: randomSP;
}


/* ----------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------- */
/*background-color: #e8e9e9;
box-shadow: 2px 3px 20px black, 0 0 60px #be7e3e inset;
background: #fffef0; ---PAPEL*/
/* ----------------------------------------------------------------------------------------------------------------------- */
/* Ficha Final */
div.finalSheet{
  background-image: url(/public/PaperB.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
  padding: 12px;
  border: 4px solid grey;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-areas: 'nameF nameF'
                       'starsF  starsF'
                       'leftF rightF'
                       'specF specF'
                       'compFin  descFin'
}

div.leftSide {
  display: grid;
  grid-area: leftF;
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-areas: 'infoF'
                       'titleCaF'
                       'characF'
                       'abiliF'
 }

div.rightSide {
  display: grid;
  grid-area: rightF;
  border-left: 2px solid black;
  padding-left: 4px;
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-areas: 'statsF'
                       'combatF'
                       'combatF'
                       'titlePoF'
                       'powerF'
}


/* Formato de Titulos Finales */
div.finalSheet h1 {
  font-family: Roboto;
  font-weight: 900;
  font-size: 26px;
  text-decoration: underline 2px;
}

/* Nombres */
div.nameF {
  text-align: center;
  grid-area: nameF;
  background: linear-gradient(
    to right, 
    hsl(98 100% 62%), 
    hsl(204 100% 59%)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

div.nameF h1 {
  font-size: 38px;
  line-height: 1.1;
  text-decoration: none;
}

/* Estrellas */
div.finalStars {
  grid-area: starsF;
  width: 110px;
  height: 30px;
  margin: auto;
}

div.star1 {
  background-image: url(/public/Star1.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 100%;
}

div.star2 {
  background-image: url(/public/Star2.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 100%;
}

div.star3 {
  background-image: url(/public/Star3.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 100%;
}

div.star4 {
  background-image: url(/public/Star4.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 100%;
}

div.star5 {
  background-image: url(/public/Star5.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 100%;
}

div.star6 {
  background-image: url(/public/Star6.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 100%;
}


/* Especial */
div.special {
  grid-area: setter;
}

div.specialfalse {
  display: none;
}

div.specialtrue {
  display: flex;
}

/* ----------------------------------------------------------------------------------------------------------------------- */
/* Información */
div.informF {
  display: grid;
  grid-area: infoF;
  grid-template-areas: 'titleI'
                       'typeI'
                       'sizeI'
                       'weakI'
                       'resI'
                       'imnuI'
                       'condI'
                       'percI';
}

div.informF h1{
  grid-area: titleI;
}

span.in {
  font-weight: 600;
  font-family: Roboto;
  margin-right: 3.5px;
  font-size: 17.5px;
  text-decoration: none;
  margin-top: 2px;
}

span.inD {
  font-size: 17.5px;
  text-decoration: underline 1px solid black;
  min-width: 150px;
  margin-left: 4px;
  padding-top: 2.5px;
}

/* Tipo */
div.typeF {
  display: flex;
  grid-area: typeI;
}

/* Tamaño */
div.sizeF {
  display: flex;
  grid-area: sizeI;
}

/* Debilidad */
div.weakF {
  display: flex;
  grid-area: weakI;
}

/* Resistencia */
div.resiF {
  display: flex;
  grid-area: resI;
}

/* Inmunidad */
div.imnuF {
  display: flex;
  grid-area: imnuI;
}

/* Inmunidad a Condiciones */
div.condF {
  display: flex;
  grid-area: condI;
}

/* Percepción Pasiva */
div.pperpF {
  display: flex;
  grid-area: percI;
}

/* ----------------------------------------------------------------------------------------------------------------------- */
/* Caracteristicas */
ul.char-list {
  grid-area: characF;
}

div.charact {
  display: grid;
  border: 1px solid black;
  margin-bottom: 5px;
  margin-right: 5px;
  padding-left: 4px;
  padding-bottom: 3px;
  grid-template-columns: 0.99fr 0.01fr;
  grid-template-areas: 'nameC eraseC'
                       'usesC usesC'
                       'effectC effectC';
}

h1.caraF {
  grid-area: titleCaF;
  margin-top: 10px;
  margin-bottom: -15px;
  height: fit-content;
}

/* Nombre */
div.charName {
  display: flex;
  grid-area: nameC;
  font-family: Roboto;
  font-weight: 700;
  font-size: 18.2px;
}

/* Uso */
div.charUses {
  display: flex;
  grid-area: usesC;
  font-family: Roboto;
  font-weight: 500;
  font-style: italic;
  font-size: 14px;
}

/* Efecto */
div.charEffect {
  display: flex;
  grid-area: effectC;
  font-style: italic;
}

/* Borrador */
div.charact button {
  display: flex;
  grid-area: eraseC;
  background-image: url(/public/trash-can.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25px;
  width: 25px;
}

/* ----------------------------------------------------------------------------------------------------------------------- */
/* Estadisticas */
div.statsF {
  display: grid;
  grid-area: statsF;
  text-align: center;
  grid-template-areas: 'titleE  titleE  titleE  titleE  titleE  titleE'
                       'strE  dexE  conE  intE  wilE  chaE';
}

div.statsF h1 {
  grid-area: titleE;
  text-align: start;
}

div.statsF span {
  font-size: 17px;
  margin-bottom: 3px;
  font-weight: 575px;
}

/* Fuerza */
div.strF {
  grid-area: strE;
}

/* Destreza */
div.dexF {
  grid-area: dexE;
}

/* Constitución */
div.conF {
  grid-area: conE;
}

/* Inteligencia */
div.intF {
  grid-area: intE;
}

/* Voluntad */
div.wilF {
  grid-area: wilE;
}

/* Carisma */
div.chaF {
  grid-area: chaE;
}


/* ----------------------------------------------------------------------------------------------------------------------- */
/* Habilidades */
div.habiF {
  grid-area: abiliF;
  display: grid;
  margin-bottom: 10px;
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'titleA  titleA'
                       'hab hab';
}

div.habiF div {
  width: fit-content;
}

div.habiF h1{
  text-align: start;
  grid-area: titleA;
}

div.habiF h2{
  margin-right: 3.5px;
  font-size: 17.5px;
  text-align: center;
}

div.habiF span {
  font-size: 17px;
  text-align: center;
  padding-top: 2px;
  margin-right: 15px;
}

/* ----------------------------------------------------------------------------------------------------------------------- */
/* Combate */
div.combf {
  display: grid;
  grid-area: combatF;
  row-gap: 5px;
  grid-template-columns: 0.1fr 0.9fr 0.1fr 0.9fr;
  grid-template-areas: 'titleC  titleC  titleC  titleC'
                       'life life iniI  ini'
                       'mov mov eva eva'
                       'arm arm res res'
                       'accI  acc dmgI  dmg'
}

div.combf h1 {
  grid-area: titleC;
  justify-content: center;
}

/* Vida */
div.lifeF {
  display: flex;
  grid-area: life;
  background-image: url(/public/hearts.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 55px;
  width: 55px;
  justify-content: center;
  align-items: center;
  background-position: center;
  margin-left: 40px;
}

div.lifeF span {
  font-size: 27px;
  font-family: Roboto;
  font-weight: 500;
}

/* Iniciativa */
div.inicF {
  display: flex;
  grid-area: ini;
}

div.iniholder {
  background-image: url(/public/clockwork.png);
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: iniI;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  background-position: center;
}

div.inicF span {
  font-size: 25px;
  font-family: Roboto;
  font-weight: 500;
  top: 15%;
}

/* Movimiento */
div.moveF {
  display: flex;
  background-image: url(/public/barefoot.png);
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: mov;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  background-position: center;
  margin-left: 50px;
}

div.moveF span {
  font-size: 25px;
  font-family: Roboto;
  font-weight: 500;
}

/* Evasión */
div.evasF {
  display: flex;
  background-image: url(/public/winged-shield.png);
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: eva;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  background-position: center;
  margin-left: 50px;
}

div.evasF span {
  font-size: 25px;
  font-family: Roboto;
  font-weight: 500;
}

/* Armadura */
div.armoF {
  display: flex;
  background-image: url(/public/kevlar.png);
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: arm;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  background-position: center;
  margin-left: 50px;
}

div.armoF span {
  font-size: 25px;
  font-family: Roboto;
  font-weight: 500;
}

/* Resistencia Magica */
div.resF {
  display: flex;
  background-image: url(/public/vibrating-shield.png);
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: res;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  background-position: center;
  padding-bottom: 5px;
  margin-left: 50px;
}

div.resF span {
  font-size: 25px;
  font-family: Roboto;
  font-weight: 500;
}

/* Presición */
div.ataqF {
  display: flex;
  grid-area: acc;
}

div.atkholder {
  background-image: url(/public/crosshair.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width: 50px;
  grid-area: accI;
  justify-content: center;
  align-items: center;
  background-position: center;
}

div.ataqF span {
  font-size: 25px;
  font-family: Roboto;
  font-weight: 500;
  top: 15%;
}

/* Daño */
div.dmgF {
  display: flex;
  grid-area: dmg;
}

div.dmgholder {
  background-image: url(/public/dripping-knife.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width: 50px;
  grid-area: dmgI;
  justify-content: center;
  align-items: center;
  background-position: center;
}

div.dmgF span {
  font-size: 25px;
  font-family: Roboto;
  font-weight: 500;
  top: 15%;
}


/* ----------------------------------------------------------------------------------------------------------------------- */
/* Poderes */
ul.power-list {
  grid-area: powerF;
}

div.powerFinal {
  display: grid;
  border: 1px solid black;
  margin-bottom: 5px;
  margin-right: 2px;
  margin-left: 1px;
  padding: 1.5px;
  padding-left: 4px;
  padding-bottom: 3px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'nameP eraseP'
                       'typeP typeP'
                       'useP  useP'
                       'distP targP'
                       'duraP duraP'
                       'dmgP  dmgP '
                       'healP healP'
                       'efP  efP'
                       'efP  efP'
                       'efP  efP'

}

h1.poweF {
  grid-area: titlePoF;
  margin-bottom: -15px;
  height: fit-content;
}

/* Nombre */
div.powerName {
  display: flex;
  grid-area: nameP;
}

/* Boton */
div.powerFinal button {
  display: flex;
  grid-area: eraseP;
  justify-self: end;
  background-image: url(/public/trash-can.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25px;
  width: 25px;
}

/* Formato de Elementos */
div.powerFinal label {
  font-size: 17px;
  font-weight: 500;
  font-family: Roboto;
  margin-right: 2px;
  text-decoration: underline 1px solid black;
}

div.powerFinal span {
  font-size: 14px;
  font-weight: 400;
  font-family: Roboto;
  padding-top: 2.7px;
}


/* Usos */
div.powerUses {
  display: flex;
  grid-area: useP;
}

/* Tipo */
div.powerType {
  display: flex;
  grid-area: typeP;
}

/* Distancia */
div.powerDistance {
  display: flex;
  grid-area: distP;
  margin-right: 2px;
}

/* Objetivo */
div.powerTarget {
  display: flex;
  grid-area: targP;
}

/* Duración */
div.powerDuration {
  display: flex;
  grid-area: duraP;
}

/* Daño */
div.powerDmg {
  display: flex;
  grid-area: dmgP;
}

/* Curación */
div.powerHeal {
  display: flex;
  grid-area: healP;
}

/* Efectos */
div.powerEffect {
  display: flex;
  grid-area: efP;
}


/* ----------------------------------------------------------------------------------------------------------------------- */
/* Especial Final */
div.specF {
  grid-area: specF;
  border-top: 2px black solid;
  border-bottom: 2px black solid;
}

div.specFinal {
  display: grid;
  border: 1px solid black;
  margin-bottom: 5px;
  margin-right: 2px;
  margin-left: 1px;
  padding: 1.5px;
  grid-template-columns: 5fr 0.1fr;
  grid-template-areas: 'nameSP eraseSP'
                       'requiSP requiSp'
                       'effectSP  effectSP';
}

div.specF h1 {
  margin-bottom: -15px;
}

ul.spe-list span {
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  padding-top: 2.7px;
  text-decoration: underline solid 1.3px black;
}


/* Boton */
div.specF button {
  display: flex;
  grid-area: eraseSP;
  justify-self: end;
  background-image: url(/public/trash-can.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25px;
  width: 25px;
}

/* Nombre y Coste de Especialidad */
div.speName {
  grid-area: nameSP;
}

div.speName span {
  font-size: 25px;
  font-weight: 400;
}

/* Requisito de Especialidad */
div.speRequiere {
  grid-area: requiSP;
}

/* Efecto de Especialidad */
div.speEffect {
  grid-area: effectSP;
}


/* ----------------------------------------------------------------------------------------------------------------------- */
/* Extras */
/* Descripción */
div.descF {
  grid-area: descFin;
  border: 1px solid black;
  margin-bottom: 2px;
  margin-right: 2px;
  margin-left: 1px;
  padding: 1.5px;
  margin-top: 10px;
  display: inline-block;
}

/* Comportamiento */
div.behaF {
  grid-area: compFin;
  border: 1px solid black;
  margin-bottom: 2px;
  margin-right: 2px;
  margin-left: 1px;
  margin-top: 10px;
  padding: 1.5px;
  display: inline-block;
}